---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import Badge from '@/components/Badge.astro'
import LinkedInIcon from '@/components/icons/LinkedIn.astro'
import CurriculumIcon from '@/components/icons/Curriculum.astro'
import MailIcon from '@/components/icons/Mail.astro'
import SocialPill from '@/components/SocialPill.astro'
import ExperienceItem from '@/components/ExperienceItem.astro'
import TecnologyStack from '@/components/TecnologyStack.astro'
import AboutMe from '@/components/AboutMe.astro'
import Proyects from '@/components/Proyects.astro'

import { Image } from 'astro:assets'
import perfil from '../assets/toto.webp'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['lorem', 'ipsum']
const frontend = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']
const backend = ['lorem', 'ipsum', 'lorem', 'ipsum']
const others = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const EXPERIENCIE = [
	{
		date: 'Marzo 2022 hasta la actualidad',
		title: 'Frontend Developer',
		company: 'WaveIt',
		description:
			'Actualmente, soy Desarrollador Front End en WAVE IT, donde superviso el diseño e implementación de sitios web, creo documentación técnica, mantengo y actualizo proyectos. También optimizo diseños para mejorar la experiencia del usuario, mejoro continuamente los procesos y el rendimiento del código. Además, proporciono apoyo y mentoría a desarrolladores junior.'
	},
	{
		date: 'Marzo 2019',
		title: 'Web Developer',
		company: 'Freelance',
		description:
			'En esta etapa estuve trabajando de manera freelance, creando e implementando paginas web completas para clientes locales. La variedad de paginas iban desde landing pages hasta sistemas de gestion pequeña. Mejorando en algunos casos hasta 30% de gestion comercial, y hasta un 80% de alcanze.'
	}
]
---

<PageLayout meta={{ title: 'Porfolio' }}>
	<div class='max-w-xxl mb-20'>
		<div class='mb-4 flex gap-4'>
			<Image class='size-20 rounded-full shadow-lg' alt={'Tobias Sanmartin'} src={perfil} />
			<a
				href='https://www.linkedin.com/in/tob%C3%ADas-sanmart%C3%ADn-001b74254/'
				target='_blank'
				rel='noopener'
				class='flex items-center transition md:justify-center md:hover:scale-105'
			>
				<section class='flex flex-col items-center'>
					<div class='flex flex-col items-center gap-y-4'>
						<a
							class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
						>
							<span class='relative flex items-center justify-center'>
								<span
									class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
								></span>
								<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
							</span>

							<p class='font-medium'>Disponible</p>
						</a>
					</div>
				</section>
			</a>
		</div>
		<h1 class='text-4xl font-bold tracking-tight text-gray-800 dark:text-white sm:text-5xl'>
			Hola! soy Tobias
		</h1>
		<p
			class='mt-6 text-xl text-gray-800 dark:text-gray-300 [&>strong]:font-semibold [&>strong]:text-teal-400 dark:[&>strong]:text-teal-400'
		>
			+5 años de experiencia. <strong>Frontend Delevoper</strong> de La Costa, Argentina. <br /> Especializado
			en el desarrollo frontend de aplicaciones web.
		</p>
		<nav class='mt-8 flex flex-wrap gap-4'>
			<SocialPill href='mailto:tobiassanmartin.work@gmail.com'>
				<MailIcon class='size-5' />
				Contáctame
			</SocialPill>
			<SocialPill href='https://www.linkedin.com/in/tob%C3%ADas-sanmart%C3%ADn-001b74254/'>
				<LinkedInIcon class='size-5' />
				LinkedIn
			</SocialPill>
			<!-- Descarga curriculum -->
			<SocialPill href='../../public/cv.pdf' download='Tobias-Sanmartin-Curriculum.pdf'>
				<CurriculumIcon class='size-6' />
				Curriculum
			</SocialPill>
		</nav>
	</div>

	<div class='mb-10'>
		<Section title='Experiencia laboral' />
		<ol class='relative mt-16'>
			{
				EXPERIENCIE.map((experiencie) => (
					<li class=''>
						<ExperienceItem {...experiencie} />
					</li>
				))
			}
		</ol>
	</div>

	<div class='mb-10 mt-10 w-full'>
		<Section title='Proyectos' />
		<Proyects />
	</div>
	<div id='about' class='mb-10 w-full'>
		<Section title='Stack de tecnologias' />
		<TecnologyStack />
	</div>
	<div class='mt-10 w-full'>
		<Section title='Sobre Mi' />
		<AboutMe />
	</div>
</PageLayout>
