---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import Badge from '@/components/Badge.astro'
import ExperienceItem from '@/components/ExperienceItem.astro'
import TecnologyStack from '@/components/TecnologyStack.astro'
import AboutMe from '@/components/AboutMe.astro'
import Proyects from '@/components/Proyects.astro'
import { Image } from 'astro:assets'
import perfil from '../assets/toto.webp'
import { getAllPosts, sortMDByDate } from '@/utils'
import Hero from '@/components/Hero.astro'

const languages = ['lorem', 'ipsum']
const frontend = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']
const backend = ['lorem', 'ipsum', 'lorem', 'ipsum']
const others = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const EXPERIENCIE = [
	{
		date: 'Marzo 2022 hasta la actualidad',
		title: 'Frontend Developer',
		company: 'WaveIt',
		description:
			'Actualmente, soy Desarrollador Front End en WAVE IT, donde superviso el diseño e implementación de sitios web, creo documentación técnica, mantengo y actualizo proyectos. También optimizo diseños para mejorar la experiencia del usuario, mejoro continuamente los procesos y el rendimiento del código. Además, proporciono apoyo y mentoría a desarrolladores junior.'
	},
	{
		date: 'Marzo 2019',
		title: 'Web Developer',
		company: 'Freelance',
		description:
			'En esta etapa estuve trabajando de manera freelance, creando e implementando paginas web completas para clientes locales. La variedad de paginas iban desde landing pages hasta sistemas de gestion pequeña. Mejorando en algunos casos hasta 30% de gestion comercial, y hasta un 80% de alcanze.'
	}
]
---

<PageLayout meta={{ title: 'Porfolio' }}>
	<Hero />
	<div class='mb-10'>
		<Section title='Experiencia laboral' />
		<ol class='relative mt-16'>
			{
				EXPERIENCIE.map((experiencie) => (
					<li class=''>
						<ExperienceItem {...experiencie} />
					</li>
				))
			}
		</ol>
	</div>

	<div class='mb-10 mt-10 w-full'>
		<Section title='Proyectos' />
		<Proyects />
	</div>
	<div id='about' class='mb-10 w-full'>
		<Section title='Stack de tecnologias' />
		<TecnologyStack />
	</div>
	<div class='mt-10 w-full'>
		<Section title='Sobre Mi' />
		<AboutMe />
	</div>
</PageLayout>
