@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #0f172a;
}

#cursor-glow {
    transition: transform 0.15s ease-out;
  }
